.editor-wrapper {
  .bf-container.fullscreen {
      position: fixed;
      display: flex;
      flex-direction: column;
      z-index: 99999;
      top: 129px;
      right: 25px;
      /* bottom: 20px; */
      left: 265px;
      background-color: #fff;
      height: calc(100% - 170px)!important;
  }
  .ant-upload.ant-upload-select {
      float: left;
  }
  span {
      font-size: inherit;
  }
}
#editor-previewContent {
  p{
      padding: 0;
  }
}
// .bf-modal-buttons .bf-modal-cancel{visibility: hidden;}

